.opensans{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
body, h1, h2, h3, h4, h5, h6, input, select{.opensans}
strong{.opensans; font-weight: 600;}
img{ max-width: 100%;}
.main h2{ margin: 0px 0px 25px 0px; }



/********** Media Queries ************/
@media (max-width:767px) {
	.header .well-lg{ margin: 15px 0px;}
	.headmsg{
		background-image: none; 
		padding-left: 35px;
		font-size: 0.9em;
		margin: 0px;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.header .well-lg{ margin: 15px 0px;}
	.headmsg{
		background-image: none; 
		padding-left: 35px;
		font-size: 0.9em;
		margin: 0px;
	}
}