<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
				<h1>Leave Apply</h1>
			</div>
		</div>
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form>
				<p><label>Date From</label>
				<input type="text" class="form-control dateTo" />
				</p>
				<p><label>Date To</label>
				<input type="text" class="form-control dateFrom" />
				</p>
				<p class="mrgntp20">				
					<select class="form-control">
						<option>Full Day</option>
						<option>First Half</option>
						<option>Second Half</option>
					</select>
				</p>
				<p>
				<label>Reason</label>
				<textarea placeholder="Reason" class="form-control"></textarea>
				</p>
				<p class="notify"><input type="checkbox"/><label>Send mail to my Team</label></p>
				<p><button type="submit" class="btn btn-primary btn-block active">Apply Now<span class="glyphicon glyphicon-circle-arrow-right"></span></button></p>
			</form>
		</div>
		</div>
</div>