<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
				<h1>Find Me</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form class="search-form">
					  <div class="form-group">
					    <label for="name">Where is</label>
					    <input type="text" class="form-control" id="name" placeholder="Enter Name" />
					    <button type="submit" class="search btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
					  </div>
				</form>
				<form class="apply-form">					
						<label>Need to Apply</label>
						<p>
						<select class="form-control">
							<option>Leave type</option>
							<option>Casual Leave</option>
							<option>Planned Leave</option>
							<option>Sick Leave</option>
							<option>Casual Leave</option>
						</select>
						</p>
						<p>
							<button class="btn btn-primary btn-block">Apply<span class="glyphicon glyphicon-circle-arrow-right"></span></button>
						</p>

				</form>
			</div>
		</div>
	</div>