<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  text-center">
				<h1>My Profile</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<img ng-src="https://drive.google.com/uc?id={{data.PHOTO}}" class="profile-pic" />
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8 profile-details">
				<p>{{data.ID}}</p>
				<p>{{data.NAME}}</p>
				<p>{{data.EMAIL}}</p>
				<p>{{data.PHONENUMBER}}</p>				
				<p>{{data.GENDER}}</p>	
			</div>
		</div>
		<div class="row pdtp25">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p class="status"><span>Today's Status :</span> On PL / CL / SL / WFH / Flying</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<p class="status"><span>Project Aligned in :</span> Pioneer</p>
			</div>
		</div>
</div>