<div class="container">		
		<div class="row">
			<div class="col-md-12 card">
				<div class="front">
		            <div class="cover">
		                <img src="http://ct-freebies.herokuapp.com/images/rotating_card_thumb.png">
		            </div>
		            <div class="user">
		                <div class="profile-pic" style="background-image: url(https://drive.google.com/uc?id={{data.PHOTO}})"></div>
		            </div>
		            <div class="content">
		                <div class="main">
		                    <h3 class="name">{{data.NAME}}</h3>
		                    <p class="profession">Java Developer</p>
		                    <h5><i class="fa fa-map-marker fa-fw text-muted"></i> <strong>In office</strong></h5>
		                    <h5><i class="fa fa-map-marker fa-fw text-muted"></i> {{data.PHONENUMBER}}</h5>
		                    <h5><i class="fa fa-building-o fa-fw text-muted"></i> Team Beachbody</h5>
		                    <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> {{data.EMAIL}}</h5>
		                    <!-- <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> {{data.GENDER}}</h5> -->
		                </div>
		                <div class="footer">
		                    
		                </div>
		            </div>
		        </div> 
        </div></div>
</div>

