<div class="container">		
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3><img src="assets/images/online_leave.jpg" width="60px" height="40px;" style="margin-right:10px;">As on 10th Jan, 2015</span></h3>
			<p>&nbsp;</p>
			<p class="name"><img src="assets/images/leave.png" width="40px" height="40px;" style="margin-right:10px;"><span>PL: </span>Sohail Sinha, Kabir Malhotra</p>
			<p class="name"><img src="assets/images/leave_icon.png" width="40px" height="40px;" style="margin-right:10px;"><span>CL: </span>Rohit Kumar, Rohan Khanna</p>
			<p class="name"><img src="assets/images/sick-leave.png" width="40px" height="40px;" style="margin-right:10px;"><span>SL: </span>Virat Singh</p>
			<p class="name"><img src="assets/images/Remote-Workforce.png" width="40px" height="40px;" style="margin-right:10px;"><span>WFH: </span>Jasmeet Singh, Girish Kumar</p>
			<p class="name"><img src="assets/images/aeroplane.jpg" width="40px" height="40px;" style="margin-right:10px;"><span>Travelling: </span>Anubhav Sharma</p>
		</div>
		</div>
</div>