/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #fff;
    font-family: 'Open Sans';
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}
h1{
    font-size: 18px;        
}
h1{
    margin: 110px 18px 40px 18px;
    font-weight: 700;
}
label{
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
header{
  margin-bottom: 100px;
}
.home header{
  margin-bottom: 0;
}
.logo{
  display: none;
}
.home .page-heading{display: none;}
.page-heading{
  font-size: 22px;
  color: #fff;
  margin-left: -20px;
  margin-top: -5px;
  font-weight: 700;
}
.home .logo{display: block;}
.home .submit{
    padding: 35px 20px 40px 20px;
    background: #e7e7e7;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 110px;
}
.home button{
    width: 90%;
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px 0;
}
button span.glyphicon-circle-arrow-right{
    padding-left: 8px;
    font-size: 14px;
    vertical-align: sub;
}
.home .submit p.help{
    font-weight: 700; 
     margin: 10px 0
}
button{
    background-color: #FF6300!important;
    border-color: #FF6300!important;
    font-size: 18px;
    margin-top: 30px;     
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #68dff0;
    color: #fff;
}
::-moz-selection {
    background: #68dff0;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

.dashboard .search-form button{
    color: #FFF;
    margin-top: 0px;   
}
.apply-form{
    padding-top: 20px;
}
.apply-form select{
    width: 100%;
}
.apply-form button{
    margin-top: 20px;
    padding: 10px 0;
}
.profile-pic {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.profile-details {
    padding-top: 10px;
} 

  .profile-details p{
    color: #fc5a02;
    padding-left: 10px;
    }
  p.status span{
    font-size: 16px;
    font-weight: 700;
  }
  .pdtp25{
    padding-top: 25px;
  }
  .mrgntp20{
    margin-top:20px;
  }
  .notify{margin-top: 0px;}
  .notify label{
    display: inline;
    margin-left: 5px;
    vertical-align: text-bottom;
  }

.profile-details p{
  color: #fc5a02;
  padding-left: 10px;
  font-size: 16px;  
}

.dashboard .nav-pills li, .dashboard .nav-pills li:focus, .dashboard .nav-pills li:hover, .dashboard .nav-pills li:visited{
  background-color: #FF6300!important;
  border: solid 1px #FF6300!important;
  border-radius: 5px;
  margin-top: 15px;  
}

.dashboard .nav-pills li a{
  color: #fff;
  font-size: 14px;  
  font-weight: 400;
}
.dashboard .nav-pills li a .badge{ float: right;
background-color: #444444;
margin-top: -2px;
padding: 6px 7px;
border-radius: 5px;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: #FF6300!important;
  border: solid 1px #FF6300!important;
}
.success{
  color: #008600;
  font-size: 16px;
}
.success .profile-pic {
  width: 180px;
  height: 180px;
}
.footer{
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: #444444;
}
.footer p.brdr{
  border-right: 1px solid #fff;
 
}
.footer p span.glyphicon{
  font-size: 30px;
  color: #fff;
  padding: 15px 15px 0 15px;
}
.home span.glyphicon-user{
  position: absolute;
  top:40px;
  left: 25px;
}
 .home span.glyphicon-lock{
  position: absolute;
  top: 120px;
  left: 25px;
 }
.home input[type="email"], .home input[type="password"]{  
  padding: 20px 20px 20px 28px;
}
.home-icon{
  padding-bottom: 11px;
  margin-bottom: 0;
}
.navbar-default{
  background-color: #444444;
}
span.glyphicon-chevron-left{
  color: #fff;
  font-size: 20px;
}
.pdtp10{
  padding-top: 10px;
}
.mrgntp0{margin-top: 0!important;}
span.glyphicon-log-in{
  font-size: 20px;
  color: #fff;
}