/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #fff;
    font-family: 'Open Sans';
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}
h1{
    font-size: 18px;        
}
h1{
    margin: 40px 18px;
    font-weight: 700;
}
.home p{
    margin: 10px 0
}
label{
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
.home .submit{
    padding: 65px 20px 40px 20px;
    background: #e7e7e7;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
}
.home button{
    width: 90%;
    margin-top: 0px;
    margin-left: 10px;
    padding: 10px 0;
}
button span.glyphicon-circle-arrow-right{
    padding-left: 8px;
    font-size: 14px;
    vertical-align: sub;
}
.home .submit p.help{
    font-weight: 700;
    font-style: strikethrough;
}
button{
    background-color: #FF6300!important;
    border-color: #FF6300!important;
    font-size: 18px;
    margin-top: 30px;     
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #68dff0;
    color: #fff;
}
::-moz-selection {
    background: #68dff0;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

.dashboard .search-form button{
    color: #FFF;
    margin-top: 0px;   
}
.apply-form{
    padding-top: 20px;
}
.apply-form select{
    width: 100%;
}
.apply-form button{
    margin-top: 20px;
    padding: 10px 0;
}
.profile-pic {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.profile-details {
    padding-top: 10px;
} 
<<<<<<< HEAD
  .profile-details p{
    color: #fc5a02;
    padding-left: 10px;
    }
  p.status span{
    font-size: 16px;
    font-weight: 700;
  }
  .pdtp25{
    padding-top: 25px;
  }
  .mrgntp20{
    margin-top:20px;
  }
  .notify{margin-top: 0px;}
  .notify label{
    display: inline;
    margin-left: 5px;
    vertical-align: text-bottom;
  }

.profile-details p{
  color: #fc5a02;
  padding-left: 10px;  
}

.dashboard .nav-pills li{
  background-color: #ECECEC;
  border: solid 1px #EEE;
}
.dashboard .nav-pills li a .badge{ float: right }


