<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="header">
    <div class="row pdtp10">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <a class ="glyphicon glyphicon-chevron-left" back-button></a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
      <a ui-sref="home"><img src="assets/images/xebia_logo.png" alt="" class="logo"></a>
      <p class="page-heading">{{$state.current.data.title}}</p>
      </div>
       <div class="col-md-3 col-sm-3 col-xs-3 text-right">      
      <p class="log-in"><span class="glyphicon glyphicon-log-in" ng-click="logout()"></span></p>
      </div>
    </div>
  </div>
</div>
</nav>